$btn_border_radius: 6px;

$poppins_font: 'Poppins';


$btn_scale_up: scale(1.1);
$btn_scale_down: scale(0.8);

$light_font_weight: lighter;
$italic_font_style: italic;

$section_border_top_radius: 10px;
$section_margin_bottom: 30px;
