@import '../../styles/colors.scss';
@import '../../styles/font.scss';
@import '../../styles/custom_style.scss';

.section_card_double {
  text-align: center;
  font-weight: lighter;
  margin-bottom: $section_margin_bottom;
  @media (min-width: 1200px) {
    display: flex;
    padding: 20px;
    align-items: center;
    font-size: larger;
    flex-direction: column;
  }
  .imgs {
    display: flex;
    flex-wrap: wrap;
    img {
      margin: 0;
      padding: 0;
      flex: 0 0 33.33%;
      width: 33.33%;
      align-self: center;
    }
  }
  &_text {
    border-radius: $section_border_top_radius;
    background-color: $white;

    text-align: center;
    padding: 10px;
    color: $selected_link;
    opacity: 0.8;
    font-style: $italic_font_style;
    box-sizing: border-box;
  }
  .guarantee {
    font-size: 25px;
    font-weight: 900;
  }
}