@import '../../styles/colors.scss';
@import '../../styles/font.scss';
@import '../../styles/custom_style.scss';

.subtitle {
  text-align: center;
  color: $selected_link;
  font-weight: bolder;
  @media(min-width: 1200px) {
    font-size: 30px;
  }
}