@import '../../styles/colors.scss';
@import '../../styles/font.scss';
@import '../../styles/custom_style.scss';

.footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem; 
  // background: #161618;
  text-align: center;
  color: #818181;
  opacity: 0.8;
  font-style: italic;
  width: 100%;
  p {
    margin-top: 0;
  }
  a {
    text-decoration: none;
    color: #818181;
  }
  &_social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    svg {
      width: 20px;
      fill:#818181;
    }
  }
  &_copywright {
    color: #818181;
    text-align: center;
    opacity: 0.8;
    font-style: italic;
    margin-bottom:0;
  }
}